<nav>
  <div class="nav-wrapper">
    <a href="http://emc.com" class="logo" alt="brand logo"><img class="emc-logo" alt="emc-logo" src="/images/EMC-Tab-Special-Use-Top.png"></a>
  </div>
</nav>

<ng-view ng-cloak> </ng-view>

<footer ng-cloak class="page-footer">
  <div class="footer-copyright">
      <small class="copyright"> © 2015 EMC Corporation. All rights reserved. </small>
  </div>
</footer>